<div class="row">
    <div class="col-5">
        <label class="card-screen-caption">{{ screenCaption }}</label>
    </div>
    <div class="col-7 text-right">
        <span class="card-controls-span">
            <table>
                <tr>
                    <td>
                        <a
                            *ngIf="dashboardCardItem.isExportable"
                            (click)="onExportPdf()"
                            title="Export to PDF"
                            href="#"
                            ><i
                                class="fa fa-file-pdf-o fa-lg mr-3 d-print-none"
                            ></i
                        ></a>
                    </td>
                    <td>
                        <a
                            *ngIf="dashboardCardItem.isExportable"
                            (click)="onExportExcel()"
                            title="Export to Excel"
                            href="#"
                            ><i
                                class="fa fa-file-excel-o fa-lg mr-3 d-print-none"
                            ></i
                        ></a>
                    </td>
                    <td>
                        <a
                            *ngIf="dashboardCardItem.isPrintable"
                            onclick="window.print();return false;"
                            title="Print"
                            href="#"
                            ><i class="fa fa-print fa-lg mr-3 d-print-none"></i
                        ></a>
                    </td>
                    <td>
                        <input
                            *ngIf="dashboardCardItem.isSearchable"
                            title="Search Keyword"
                            class="form-control search-filter d-print-none"
                            pInputText
                            type="text"
                            (input)="
                                dtRecentDeviceUsage.filterGlobal(
                                    $event.target.value,
                                    'contains'
                                )
                            "
                            placeholder="Search keyword"
                        />
                    </td>
                </tr>
            </table>
        </span>
    </div>
    <div class="col-12">
        <div>
            <p-table
                class="recent-device-usage-table"
                id="recent-device-usage-table-id"
                [ngClass]="[
                    'ui-table-bordered',
                    'ui-table-striped',
                    'ui-table-hover',
                    'ui-table-open'
                ]"
                #dtRecentDeviceUsage
                (onFilter)="onFilter($event, dtRecentDeviceUsage)"
                [value]="recentDeviceUsageData"
                [paginator]="true"
                dataKey="id"
                [rows]="50"
                [rowsPerPageOptions]="[10, 25, 50, 100]"
                [showCurrentPageReport]="true"
                [scrollable]="true"
                currentPageReportTemplate="Rows {first} to {last} of {totalRecords}"
                [globalFilterFields]="['datetimestamp', 'deviceName']"
            >
                <ng-template pTemplate="header">
                    <tr class="table-row-style">
                        <th pSortableColumn="dateTimeStamp">
                            TIMESTAMP
                            <p-sortIcon field="dateTimeStamp"></p-sortIcon>
                        </th>
                        <th pSortableColumn="deviceName">
                            DEVICE NAME
                            <p-sortIcon field="deviceName"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-recentDeviceUsageData>
                    <tr style="height: 25px">
                        <td nowrap>
                            {{
                                recentDeviceUsageData.datetimestamp
                                    | date : "MMM d, yy, h:mm a"
                            }}
                        </td>
                        <td>
                            {{ recentDeviceUsageData.deviceName }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<!-- joea7888 -->  
