<div class="row">
    <div class="col-5">
        <label class="card-screen-caption">{{ screenCaption }}</label>
    </div>
    <div class="col-7">
        <table>
            <tr>
                <td>
                    <a (click)="onExportPdf()" title="Export to PDF" href="#"
                        ><i class="fa fa-file-pdf-o fa-lg mr-3"></i
                    ></a>
                </td>
                <td>
                    <a
                        (click)="onExportExcel()"
                        title="Export to Excel"
                        href="#"
                        ><i class="fa fa-file-excel-o fa-lg mr-3"></i
                    ></a>
                </td>
                <td>
                    <input
                        title="Search Keyword"
                        class="form-control search-filter"
                        pInputText
                        type="text"
                        (input)="
                            dtRecentImpersonation.filterGlobal(
                                $event.target.value,
                                'contains'
                            )
                        "
                        placeholder="Search keyword"
                    />
                </td>
            </tr>
        </table>
    </div>
    <div class="col-12">
        <div>
            <p-table
                class="recent-impersonation-table"
                id="recent-impersonation-table-id"
                [ngClass]="[
                    'ui-table-bordered',
                    'ui-table-striped',
                    'ui-table-hover',
                    'ui-table-open'
                ]"
                #dtRecentImpersonation
                (onFilter)="onFilter($event, dtRecentImpersonation)"
                [value]="recentImpersonationData"
                [paginator]="true"
                dataKey="id"
                [rows]="10"
                [showCurrentPageReport]="true"
                [scrollable]="true"
                [rowsPerPageOptions]="[5, 10, 25, 50]"
                currentPageReportTemplate="Rows {first} to {last} of {totalRecords}"
                [globalFilterFields]="[
                    'datetimestamp',
                    'email',
                    'impersonationEmail'
                ]"
            >
                <ng-template pTemplate="header">
                    <tr class="table-row-style">
                        <th pSortableColumn="dateTimeStamp">
                            TIMESTAMP
                            <p-sortIcon field="dateTimeStamp"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email">
                            ADMIN USER <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th pSortableColumn="impersonationEmail">
                            IMPERSONATED
                            <p-sortIcon field="impersonationEmail"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-recentImpersonationData>
                    <tr style="height: 25px">
                        <td nowrap>
                            {{
                                recentImpersonationData.datetimestamp
                                    | date : "MMM d, yy, h:mm a"
                            }}
                        </td>
                        <td>
                            <a
                                href="mailto:{{
                                    recentImpersonationData.email
                                }}?subject=Recent Impersonation Subject
                            "
                                >{{ recentImpersonationData.email }}</a
                            >
                        </td>
                        <td>
                            <a
                                href="mailto:{{
                                    recentImpersonationData.impersonationEmail
                                }}?subject=Recent Impersonation Subject
                            "
                                >{{
                                    recentImpersonationData.impersonationEmail
                                }}</a
                            >
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<!-- joea7888  -->
