<div class="row">
    <div class="col-5">
        <label class="card-screen-caption">{{ screenCaption }}</label>
    </div>
    <div class="col-7 text-right">
        <span class="search-span">
            <table>
                <tr>
                    <td>
                        <a
                            *ngIf="dashboardCardItem.isExportable"
                            (click)="onExportPdf()"
                            title="Export to PDF"
                            href="#"
                            ><i class="fa fa-file-pdf-o fa-lg mr-3"></i
                        ></a>
                    </td>
                    <td>
                        <a
                            *ngIf="dashboardCardItem.isExportable"
                            (click)="onExportExcel()"
                            title="Export to Excel"
                            href="#"
                            ><i class="fa fa-file-excel-o fa-lg mr-3"></i
                        ></a>
                    </td>
                    <td>
                        <input
                            *ngIf="dashboardCardItem.isSearchable"
                            title="Search Keyword"
                            class="form-control search-filter"
                            pInputText
                            type="text"
                            (input)="
                                dtRecentImpersonation.filterGlobal(
                                    $event.target.value,
                                    'contains'
                                )
                            "
                            placeholder="Search keyword"
                        />
                    </td>
                </tr>
            </table>
        </span>
    </div>
    <div class="col-12">
        <div>
            <p-table
                class="recent-impersonation-table"
                id="recent-impersonation-table-id"
                [ngClass]="[
                    'ui-table-bordered',
                    'ui-table-striped',
                    'ui-table-hover',
                    'ui-table-open'
                ]"
                #dtRecentImpersonation
                (onFilter)="onFilter($event, dtRecentImpersonation)"
                [value]="recentImpersonationData"
                [paginator]="true"
                dataKey="id"
                [rows]="10"
                [showCurrentPageReport]="true"
                [scrollable]="true"
                [rowsPerPageOptions]="[5, 10, 25, 50]"
                currentPageReportTemplate="Rows {first} to {last} of {totalRecords}"
                [globalFilterFields]="[
                    'datetimestamp',
                    'email',
                    'impersonationEmail'
                ]"
            >
                <ng-template pTemplate="header">
                    <tr class="table-row-style">
                        <th
                            nowrap
                            pSortableColumn="dateTimeStamp"
                            style="text-align: left; width: 30px"
                        >
                            Timestamp
                            <p-sortIcon field="dateTimeStamp"></p-sortIcon>
                        </th>
                        <th
                            nowrap
                            pSortableColumn="email"
                            style="text-align: left; width: 100px"
                        >
                            Admin User <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th
                            nowrap
                            pSortableColumn="impersonationEmail"
                            style="text-align: left; width: 100px"
                        >
                            Impersonation
                            <p-sortIcon field="impersonationEmail"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-recentImpersonationData>
                    <tr style="height: 25px">
                        <td nowrap style="text-align: left; width: 30px">
                            {{
                                recentImpersonationData.datetimestamp
                                    | date : "MMM d, yy, h:mm a"
                            }}
                        </td>
                        <td nowrap style="text-align: left; width: 100px">
                            <a
                                href="mailto:{{
                                    recentImpersonationData.email
                                }}?subject=Recent Impersonation Subject
                            "
                                >{{ recentImpersonationData.email }}</a
                            >
                        </td>
                        <td nowrap style="text-align: left; width: 100px">
                            <a
                                href="mailto:{{
                                    recentImpersonationData.impersonationEmail
                                }}?subject=Recent Impersonation Subject
                            "
                                >{{
                                    recentImpersonationData.impersonationEmail
                                }}</a
                            >
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<!-- joea7888 -->
