<div class="row">
  <div class="col-5">
      <label class="card-screen-caption">{{ screenCaption }}</label>
  </div>
  <div class="col-7 text-right">
      <span class="card-controls-span">
          <table>
              <tr>
                  <td>
                      <a
                          *ngIf="dashboardCardItem.isPrintable"
                          (click)="onPrint()"
                          title="Print"
                          href="#"
                          ><i class="fa fa-print fa-lg mr-3 d-print-none"></i
                      ></a>
                  </td>
              </tr>
          </table>
      </span>
  </div>
  <div class="col-12 text-center">
      <div>
          <h1>1500</h1>
          <h3>{{dashboardCardItem.description}}</h3>
      </div>
  </div>
</div>
 <!-- refresh --> 