#recent-logins-table-id {
    font-size: 10px;
}

.recent-logins-table {
    ::ng-deep .p-datatable table {
        max-height: 290px;
    }
}

.table-row-style {
    height: 25px;
}

.card-screen-caption {
    margin-top: 6px;
    font-weight: bold;
}

.card-controls-span {
    display: inline-block;
}
