<div class="row">
    <div class="col-5">
        <i style="font-size:.8rem; color: var(--h1_color);">Right Click To Copy</i>
    </div>
    <div class="col-7 text-right">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <!-- <p-chart type="line" [data]="data" [options]="options" (onContextMenu)="showContextMenu($event)" #chartCanvas></p-chart> -->
        <p-chart type="line"  [data]="data" #chartCanvas></p-chart>
        <!-- <p-contextMenu #cm [model]="contextMenuModel"></p-contextMenu> -->
    </div>
</div>
<!-- refresh -->
