<div class="row">
    <div class="col-5">
        <i style="font-size:.8rem; color: var(--h1_color);">Right Click To Copy</i>
    </div>
    <div class="col-7 text-right">
        <span class="card-controls-span">
            <div class="input-group">
                <a
                    *ngIf="dashboardCardItem.isCopy"
                    (click)="onCopy()"
                    title="Copy"
                    href="#"
                    ><i class="fa fa-clone fa-lg mr-3 d-print-none"></i
                ></a>
            </div>
        </span>
    </div>
 </div>
<div class="row">
    <div class="col-12">
        <p-chart type="line" [options]="options"   [data]="data" #chartCanvas></p-chart>
    </div>
</div>
<!-- REFRESH --> 
