<div class="row">
    <div class="col-12">
        <div
            title="{{ dashboardCardItem.label }}"
            class="col-12 text-wrap card shadow-sm"
            [ngClass]="{
                'scrollable-item-disabled': dashboardCardItem.isVisible
            }"
            style="
                height: auto;
                padding: 10px;
                margin-top: 2px;
                cursor: pointer;
                min-width: 30px;
            "
            (click)="onClick()"
            #dtn
        >
            <i
                class="fa {{ dashboardCardItem.iconClass }} fa-sm mr-2"
                aria-hidden="true"
            ></i>
            <div class="d-none d-sm-block thumbnail-label">
                {{ dashboardCardItem.label }}
            </div>
        </div>
    </div>
</div>
   <!-- joea7888 -->  
