<div class="row">
  <div class="col-5">
      <label class="screen-caption">{{ screenCaption }}</label>
  </div>
  <div class="col-7 text-right">
      <span class="controls-span">
          <table>
              <tr>
                  <td>
                      <a
                          *ngIf="dashboardCardItem.isPrintable"
                          (click)="onPrint()"
                          title="Print"
                          href="#"
                          ><i class="fa fa-print fa-lg mr-3 d-print-none"></i
                      ></a>
                  </td>
              </tr>
          </table>
      </span>
  </div>
  <div class="col-12 text-center">
      <div>
          <h1>383</h1>
          <h4>Total Pickup Slips Locked in NGMA</h4>
      </div>
  </div>
</div>
  <!-- joea7888 -->  
