// you can use this to add your app's styles

.chart-right-click
{
    font-size:.8rem; 
    color: var(--h1_color);
}

@media print {
    body * {
        visibility: hidden;
    }

    a:link {
        border-bottom: none !important;

        text-decoration: none !important;

        color: black;
    }

    a[href]:after {
        content: none !important;

        color: black;
    }

    #print-div,
    #print-div * {
        visibility: visible;
    }
    #print-div {
        height: auto;
        position: fixed;
        left: 10px;
        top: 0px;
        width: 1000px;
    }
}
